<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vanilla JS Boilerplate</title>
    <link rel="icon" type="image/png" sizes="32x32" href="<%- require('../images/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%- require('../images/favicon/favicon-96x96.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%- require('../images/favicon/favicon-16x16.png') %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
    <div class="layout home">
        <h1 class="title" id="h">Vanilla JS Boilerplate</h1>
    </div>
</body>

</html>